<section class="jumbotron">
  <div class="container">
<h3 class="jumbotron-heading">Edit <%= @list.name %></h3>
<br>
<form method="POST" action="/lists/<%=@list.id%>">
  <label>List Name</label>
<input type="text" name="list[name]" value="<%= @list.name %>"><br><br>
<label>Add or remove existing items:</label>
<%Item.all.each do |item|%> <br>
  <input type="checkbox" name="list[item_ids][]" id="<%= item.id%>" value="<%=item.id%>" <%='checked' if @list.items.include?(item) %>> <%=item.name%></input>
<%end%>
<br></br>
   <input type="submit"  class="btn btn-primary" value="Update List">
</form>
</div>

</section>
