<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<section class="jumbotron">
        <div class="container">
          <h2 class="jumbotron-heading"><%= @list.name %> </h2>

</br>


<ul class="list-group">
 <% @list.items.each do |item| %>
   <li class="list-group-item justify-content-between align-items-center d-flex"><%= item.name %>
     <a href="/items/<%=item.id%>/edit" class="badge badge-secondary">Edit Item</a>

   </li>
 <% end%>
 </ul>
<br>
 <a href ='/lists/<%=@list.id%>/edit' class='btn btn-primary btn-sm' role="button">Edit List</a>

 </div>
</section>
