<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<section class="jumbotron">
<h3> <%= @list.name %> </h3>


<ul>
 <% @list.items.each do |item| %>
   <li><a href="/items/<%=item.id%>"><%= item.name %></a>
   </li>
 <% end%>
 </ul>
<br>
 <a href ='/lists/<%=@list.id%>/edit' class='btn btn-primary btn-sm' role="button">Edit List</a>
</section>
